@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
} */



body {
    /* Colors */
    --white-color: #ffffff;
    --dark-color: #0000;
    --primary-color: #F8CB2E;
    --secondary-color: #EE5007;
    --section-bg-color: #f0f8ff;

    /* font */
    --body-font-family: 'Outfit', sans-serif;

    /* @apply bg-gray-500 */
    background-color: var(--white-color);
    font-family: var(--body-font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* display: flex;
    width: 100%; */
}

/* Just for test */
@layer components {
    .btn {
        @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white; 
    }
}